<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ handout['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <header>
        <nav>
            <div class="logo">Calc It</div>
            <ul>
                <li><a href="{{ url_for('main') }}">Home</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="handout-page">
        <div class="handout-header">
            <h1>{{ handout['title'] }}</h1>
        </div>
        
        <div class="handout-content">
            <div class="handout-image-container">
                <img src="{{ url_for('static', filename='images/' + handout['image']) }}" alt="{{ handout['title'] }}" class="handout-image-sep">

                <div class="cta">
                    <a id="download-handout-btn" class="btn btn-primary" href="{{ handout['downloadLink'] }}" target="_blank">Go to Handout</a>
                </div>
            </div>
            <div class="handout-details">
                <h2>Description</h2>
                <p>{{ handout['description'] }}</p>
                
                <h3>Learning Objectives</h3>
                <ul>
                    {% for objective in handout['learning_objectives'] %}
                        <li>{{ objective }}</li>
                    {% endfor %}
                </ul>

                <h3>Key Concepts</h3>
                <ul>
                    {% for concept in handout['key_concepts'] %}
                        <li>{{ concept }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
